@model Library.DAL.Entities.Book

<h4>Libro</h4>
<hr />
<dl class="row">
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Name)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Author)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Author)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Stock)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Stock)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.NumberGenera)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.NumberGenera)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ImagesNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ImagesNumber)
    </dd>
</dl>