@model Library.Models.HomeViewModel

@{
    ViewData["Title"] = "Home Page";
}

@if (Model.Quantity > 0)
{
    <a asp-action="ShowCartAndConfirm" class="btn btn-outline-primary">Ver Carro de prestamos (@Model.Quantity)</a>
}

<div class="text-center">
@if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
    {
        <div class="text-center">
            <h1 class="display-4">Bienvenidos @ViewBag.UserFullName a la administración de la Biblioteca</h1>
        </div>
        <section class="contener">
            <div class="row">
                <div class="col-4">
                    <article>
                        <img src="~/images/users/usuarios.jpg" width="250">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="Index">Usuarios</a>
                    </article>
                </div>
            </div>
        </section>
    }
    else if (User.Identity.IsAuthenticated && User.IsInRole("Librarian"))
    {
        <div style="text-align:left;">
            <a class="btn btn-primary" data-bs-toggle="offcanvas" href="#offcanvasExample" role="button" aria-controls="offcanvasExample">
                Menú
            </a>
        </div>
        <div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasExampleLabel">Biblioteca</h5>
                <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <div>
                    Bienvenido, en esta biblioteca podrá contar con el mejor servicio de préstamo de libros.
                </div>
                <br>
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="EditUser">Perfil</a>
                <br>
                <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Libros</a>
                <br>
                <a class="nav-link text-dark" asp-area="" asp-controller="Catalogues" asp-action="Index">Catálogos</a>
                <br>
                <a class="nav-link text-dark" asp-area="" asp-controller="Universities" asp-action="Index">Universidades</a>
                <br>
                <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="Index">Reservas</a>
                <br>
                <a class="nav-link text-dark" asp-area="" asp-controller="Users" asp-action="CreateLibrarian">Nuevo Bibliotecario</a>
                <br>
                <a class="nav-link text-dark" asp-area="" asp-controller="Account" asp-action="Logout">Cerrar Sesión</a>
            </div>
        </div>
        <div class="text-center">
            <h1 class="display-4">Bienvenidos @ViewBag.UserFullName a la Biblioteca</h1>
        </div>
        <section class="contener">
            <div class="row">
                <div class="col-4">
                    <article>
                        <img src="~/images/Library/biblioteca.png" width="320">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Books" asp-action="Index">Libros</a>
                    </article>
                </div>
                <div class="col-4">
                    <article>
                        <img src="~/images/Library/books.png" width="300">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Catalogues" asp-action="Index">Catálogos</a>
                    </article>
                </div>
                <div class="col-4">
                    <article>
                        <img src="~/images/universities/university.png" width="200">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Universities" asp-action="Index">Universidades</a>
                    </article>
                </div>
                <div class="col-4">
                    <article>
                        <img src="~/images/Library/reserva.png" width="200">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="Index">Reservas</a>
                    </article>
                </div>
                <div class="col-4">
                    <article>
                        <img src="~/images/Library/prestamo.png" width="190">
                        <a class="nav-link text-dark" asp-area="" asp-controller="Bookings" asp-action="Index">Prestamos</a>
                    </article>
                </div>
            </div>
        </section>
    }
    else
    {
        <div style="text-align: center;">
            <h1 class="display-4">Biblioteca</h1>
        </div>

        @foreach (var group in Model.Books.Select((item, index) => new { Item = item, Index = index })
                              .GroupBy(x => x.Index / 4))
        {
            <div class="row" style="text-align: center;">
                @foreach (var item in group.Select(g => g.Item))
                {
                    if (item != null)
                    {
                        if (item.Stock < 1)
                        {
                            <div class="col-md-3">
                                <div class="card zoom">
                                    <div class="card_title">@item.Name</div>
                                    <div class="card_body">
                                        <img src="@item.ImageFullPath" style="height:150px; max-width:280px;" />
                                        <p class="mt-2">
                                            <h4 class="text-danger">Libro no disponible</h4>
                                        </p>
                                    </div>
                                    <div class="card_foot">
                                        <button asp-action="DetailsBook" asp-route-bookId="@item.Id" class="btn btn-secondary" disabled>Detalles</button>
                                        <button asp-action="AddBookInCart" asp-route-bookId="@item.Id" class="btn btn-primary" disabled>Agregar</button>
                                    </div>
                                </div>
                            </div>
                        }
                        else
                        {
                            <div class="col-md-3">
                                <div class="card zoom">
                                    <div class="card_title">@item.Name</div>
                                    <div class="card_body">
                                        <img src="@item.ImageFullPath" style="height:150px; max-width:280px;" />
                                    </div>
                                    <p class="mt-2">
                                        @item.Author
                                    </p>
                                    <div class="card_foot">
                                        <a asp-action="DetailsBook" asp-route-bookId="@item.Id" class="btn btn-secondary">Detalles</a>
                                        <a asp-action="AddBookInCart" asp-route-bookId="@item.Id" class="btn btn-primary">Agregar</a>
                                    </div>
                                </div>
                            </div>
                        }
                    }
                }
            </div>
        }
    }
    </div>